<div class="container text-right">
<form (ngSubmit)="onSubmit()" #callcForm="ngForm">
	
	<div class="form-inline">
		<label> USOC Look Up For</label><br>
		<label for="month"> Month</label>
		<select class="form-control" id="month" required [(ngModel)]="model.month" name="month" #month="ngModel">
			<option *ngFor="let field of monthList" [value]="field">{{field}} </option>
		</select>
		<label for="year"> Year</label>
		<select class="form-control" id="year" required [(ngModel)]="model.year" name="year" #year="ngModel">
			<option *ngFor="let field of yearList" [value] = "field" >{{field}} </option>
		</select>
	</div>
	<div class="form-inline">
		<label for="searchBy" >Search By</label>

		<select class="form-control" id="searchBy" (change)="onSelectSearchBy(searchBy.value, filterByATN, filterByUSOC, filterByZero, filterByMRC)"
			required [(ngModel)]="model.searchBy" name="searchBy" #searchBy="ngModel" >
			<option *ngFor="let field of searchCriteria" [value]="field">{{field}}</option>
		</select>
		<input type="text" class="form-control" id="searchText" required>
	</div>
	<div class="form-inline">
		<label for="filterBy">Filter By :</label>
		<label> <input type="checkbox" #filterByATN value="ATN"  [disabled]="isSearchByATN" >Show ATN Detail </label><br>
		<label> <input type="checkbox" #filterByUSOC value="USOC" [disabled]="isSearchByUSOC" >Show USOC Detail </label><br>
		<label> <input type="checkbox" #filterByZero value="Zero" >Show Zero amount </label><br>
		<label> <input type="checkbox" #filterByMRC value="MRC,NRC" >Show only MRC,NRC </label><br>
	</div>
	<div class="form-inline">
	<label for="sortBy">Sort By</label>
	<select class="form-control" id="sortBy" required [(ngModel)]="model.sortBy" name="sortBy" #sortBy="ngModel" >
		<option *ngFor="let field of sortByValues" [value]="field">{{field}}</option>
	</select>
	</div>
	<button type="submit" class="btn btn-default">Search</button>
</form>
</div>