<div class="container, text-right">
    <form (ngSubmit)="onSubmit()" #callcForm="ngForm">
      <table cellspacing="5">
      	<tr>
      		<td colspan = "2"><label> USOC Look Up For</label></td>
			<td>
				<div class="form-group">
					<label for="month"> Month</label>
					<select class="form-control" id="month" required [(ngModel)]="model.month" name="month" #month="ngModel">
						<option *ngFor="let field of monthList" [value]="field">{{field}} </option>
					</select>
				</div>
			</td>
			<td>
				<div class="form-group">
					<label for="year"> Year</label>
					<select class="form-control" id="year" required [(ngModel)]="model.year" name="year" #year="ngModel">
						<option *ngFor="let field of yearList" [value] = "field" >{{field}} </option>
					</select>
				</div>
			</td>
      	</tr>
      	<tr>
      		<td>
	        	<label for="searchBy" >Search By</label>
	        </td>
	        <td>
        		<select class="form-control" id="searchBy" (change)="onSelectSearchBy(searchBy.value)"
        			required [(ngModel)]="model.searchBy" name="searchBy" #searchBy="ngModel" >
          			<option *ngFor="let field of searchCriteria" [value]="field">{{field}}</option>
        		</select>
      		</td>
      		<td colspan="2">
      			<input type="text" class="form-control" id="searchText" required>
      		</td>
      	</tr>
      	<tr>
      		<td><label for="filterBy">Filter By :</label></td>
      		<td colspan = "2"><label> <input type="checkbox" name="filterBy" value="ATN" [disabled]="isSearchByATN" >Show ATN Detail </label><br></td>
      	<tr>
      		<td></td>
			<td colspan = "2"><label> <input type="checkbox" name="filterBy" value="USOC" [disabled]="isSearchByUSOC" >Show USOC Detail </label><br></td>
		</tr>
		<tr>
			<td></td>
			<td colspan = "2"><label> <input type="checkbox" name="filterBy" value="Zero"  >Show Zero amount </label><br></td>
		</tr>
		<tr>
			<td></td>
			<td colspan = "2"><label> <input type="checkbox" name="filterBy" value="MRC,NRC"  >Show only MRC,NRC </label><br></td>
		</tr>
      	<tr>
      		<td>
      			<label for="sortBy">Sort By</label>
      		</td>
      		<td>
				<select class="form-control" id="sortBy" required [(ngModel)]="model.sortBy" name="sortBy" #sortBy="ngModel" >
					<option *ngFor="let field of sortByValues" [value]="field">{{field}}</option>
				</select>
      		</td>
      	</tr>
      </table>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>